[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "public"]
	path = public
	url = https://github.com/PaulDieterich/PaulDieterich.github.io.git
	branch = main
[submodule "PaulDieterich.github.io"]
	path = PaulDieterich.github.io
	url = git@github.com:PaulDieterich/PaulDieterich.github.io.git
	branch = main
