*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
html, body{
   background-color: 	#f1f1f1!important;
    margin: 0;
    padding: 0;
    
    
        color: #333;
      
}
footer{
    
    background-color:   #333;
}
.footer{
    background-color: #333;
    text-align: center;
}
.card{
    background-color: 	#f1f1f1!important;
    border: none;
}
.card img{
    margin:auto;
   border-radius: 100%;
   width: 80%;
}
.navbar {
    background-color: #1B1C1D;
    position: fixed;
    top: -60px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 3;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.showNavbar{
    top: 0px;
}

#section1{
    background-image:url("../lib/img/background.jpg");
}
#section1 .PDP {
    margin: 20% auto !important;

    background-color: rgba(255, 255, 255, 0);
    color:rgb(252, 252, 252);
    border: 2px solid white;

    z-index: 1;
  
}
#section2{
    background-image: url("../lib/img/background.jpg");
    height: 400px;
    margin: 0;
    padding: 0;
}
#section2 .PDP{
    margin: 80px auto 0px auto  !important;

    background-color: rgba(255, 255, 255, 0);
    color:rgb(252, 252, 252);
    border: 2px solid white;

    z-index: 0;
}
.parallax{
    margin: 0;
    
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#text {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    color:rgb(252, 252, 252);

    width:100%;
    margin: 0 auto;
    text-align: center; 
   
}

.col{
    margin-top: 3em;
}
.col p{
    text-align: justify;
    font-weight: 400;
}



.box-shadow{
    display:none;
    box-shadow: 6px 0 27px rgba(0, 0, 0, 0.25)  ; 
    -webkit-box-shadow: 6px 0 27px rgba(0, 0, 0, 0.25)  ; 
    -moz-box-shadow: 6px 0 27px rgba(0, 0, 0, 0.25)  ; 
}
.sidebar{
              
  
        z-index: 10;
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #151719;
        left: -350px;
        transition: all 500ms linear;
    }
    .active{
        left:0px;
       
    }
    .blur{
        filter: blur(2px);
       
        z-index: 5;
    }
    .sidebar section ul li{
        color: rgba(230,230,230,0.9);
        list-style:none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }
    section h3{
        text-align: center; 
        color: rgba(230,230,230,0.9);
        border-bottom: 2px solid rgba(100,100,100,0.3);
        padding: 0.3em 0.5em 1em 0.5em;
    }
    .toggle-btn{
        display: none;
        float:right;
        position: fixed !important;
        right: 20px;
        top:20px; 
    }
    .toggle-color{
        background-color: rgba(0, 0, 0, 0.781);
    }
    
    .btn-span{
        display: block;
        width: 30px;
        height: 2px;
        background-color: rgba(99, 99, 99, 0.9);
        margin: 4px 0px;
    }
    .row h1{
        font-weight: 300;
        text-align: center;
    }

    a{
        font-weight: 00;
        text-decoration: none; 
        color: #f2f2f2;;
    }
    a:first-letter{
        text-transform:uppercase;
    }
    .impressum a {
        color: #333;
    }
    a:hover{
        text-decoration: none; 
        color: rgb(117, 117, 117);
    }
    .ownCard{
     
        justify-content: center;
        width: 80%;
        border: 1px solid rgba(34,36,38,.1);
        padding: 1em;
        margin: 1em auto;
    }
    .header{
        margin: 1em;
        text-align: center;
        font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    }
    .header:first-letter{
        text-transform: uppercase;
    }
    
    .meta span{
        
        display: inline-block;
        border: 1px solid black;
        padding: 0.1em .7em;
        margin: .2em;
        border-radius: 1em;
      
      
    }.meta span:hover{
        padding: 0.1em .7em;
        transform: skewY(20deg);
    }
    .description{
        text-align: justify;
        font-weight: 400;
        margin: 1.5em 0.5em 0em ;
        
    }
    .cardButton {
        margin:  1em auto 1em auto;
       
    }
    .cardButton button{
        
        display: block;
        position: relative;
        outline:none;
        cursor: pointer;
        width: 10em;
        padding: .5em .9em;
        margin:  1em auto 1em auto;
        border: 1px solid black;
        background-color: #f1f1f1;
        box-shadow: 0 6px #c0c0c0;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }
    .cardButton button:hover{
        
        top: 2px;
        box-shadow: 0 2px #c0c0c0;
    }
    .cardButton button:active{
        top: 6px;
        box-shadow: 0 0 #c0c0c0;
    }
    
    #skillrow .ownCard{
        max-width: 300px;
        width: 20%;
        margin: 1em auto ;
    }
/* ========================================================
 Mobile Handy - 1024px IPad Pro 
 ========================================================*/
@media only screen and (max-width: 1024px) {
    .navbar{
        display: none;
    }
    .box-shadow{
    display: flex;
    }
    .toggle-btn{
        z-index: 2;
        display: block;
    }
    .parallax{
        height: 50%;
        width: 100%;
    }
}



/* ========================================================
 Mobile Handy - 375px IphoneX
 ========================================================*/

@media only screen and (max-width: 375px) {
    .parallax{
        height: 50%;
        width: 100%;
    }
    
}
/* ========================================================
 Mobile Handy - 320px IphoneX
 ========================================================*/

 @media only screen and (max-width: 320px) {
    .parallax{
        height: 50%;
        width: 100%;
    }
    #sidebar{
        z-index: 10;
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #151719;
        left: -250px;
        transition: all 500ms linear;
    }
    #section1 .PDP {
        margin: 20% 10% !important;
    
        background-color: rgba(255, 255, 255, 0);
        color:rgb(252, 252, 252);
        border: 2px solid white;
    
        z-index: 1;
      
    }
}